__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
venv/
.venv/
.env
*.env
postgres/postgres_data/
logs/
*logs
data/
*.swp
*.senv
postgres/postgres_data/
logs/
*logs
data/
*.swp
*.senv
postgres/postgres_data/
logs/
*logs
data/
*.swp
*.senv
postgres/postgres_data/
logs/
*logs
data/
*.swp
*.senv
postgres/postgres_data/
logs/
*logs
data/
*.swp
*.senv
postgres/postgres_data/
logs/
*logs
data/
*.swp
*.senv
postgres/postgres_data/
logs/
*logs
data/
*.swp
*.senv
postgres/postgres_data/
logs/
*logs
data/
*.swp
*.swo
.DS_Store
